.about-banner {
    padding: 0 0 5rem 0;
}

.about-banner__title {
    margin-bottom: 2.8rem;
}

.about-banner__title strong {
    color: var(--blue);
    font-weight: 500;
}

.about-banner__inner {
    display: flex;
    align-items: start;
    gap: 4rem;
}

.about-banner__img {
    width: 66.2rem;
    flex-shrink: 0;
    overflow: hidden;
}

.about-banner__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-banner__text {
    font-size: 2rem;
    line-height: 1.4;
}

.about-banner__target {
    margin-top: 6rem;
    padding: 3.7rem 6rem 3.7rem 0;
    position: relative;
}

.about-banner__target::after {
    content: '';
    width: 60rem;
    height: 22rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--grey);
    z-index: -1;
}

.about-banner__target__title {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
}

.about-banner__target__title strong {
    color: var(--blue);
    font-weight: 500;
}

.about-banner__target__title::before {
    content: '';
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.5rem;
    background-image: url('../../img/base/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    flex-shrink: 0;
}

.about-banner__target__text {
    font-size: 1.6rem;
    line-height: 1.4;
}

.values__title {
    margin-bottom: 2rem;
}

.values__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.values__list .card {
    padding: 3rem;
}

.values__list .card__icon {
    width: 3.2rem;
    height: 3.2rem;
}

.values__list .card__name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

/* Strategy  */
.strategy__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.strategy__icon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    border: 1px solid #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strategy__icon img {
    width: 3.2rem;
    height: 3.2rem;
    object-position: center;
}

.strategy__title {
    margin-bottom: 3rem;
}

.strategy__text {
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 5rem;
}
.strategy__decor {
    width: 3.2rem;
    height: 8.4rem;
}
.strategy__decor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}