.conditions__description {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.steps__title {
    margin-bottom: 4rem;
}
.steps__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    counter-reset: step 0;
}
.steps__item {
    display: flex;
    align-items: start;
    gap: 3rem;
    counter-increment: step 1;

}
.steps__item__name {
    font-family: 'FuturaPT Demi';
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.steps__item__description {
    font-size: 1.4rem;
}

.steps__item::before {
    content: "0" counter(step)  ".";
    color: #36C0FE;
    font-size: 5.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1;
} 

@media (max-width: 960px) {
    .conditions__description {
        margin-bottom: 4rem;
    }

    
    .steps__title {
        margin-bottom: 4rem;
    }
    .steps__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .steps__item {
        align-items: center;
    
    }
    
}