.branches__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.branch__title {
    font-size: 2rem !important;
    margin-bottom: 2rem;
    font-family: 'Montserrat' !important;
    font-weight: 500;
}

.branch__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.branch__info__item {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.branch__info__item__title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'FuturaPT Demi';
    line-height: 1.4;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;

}

.branch__info__item__title::before {
    content: '';
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .6rem;
    filter: brightness(0) saturate(100%) invert(30%) sepia(6%) saturate(826%) hue-rotate(153deg) brightness(89%) contrast(84%);
}

.branch__info__item__title_tel::before {
    background-image: url(../../img/svg/phone.svg);
}

.branch__info__item__title_email::before {
    background-image: url(../../img/svg/email.svg);
}

.branch__info__item__title_location::before {
    background-image: url(../../img/svg/location.svg);
}

.branch__info__item__title_time::before {
    background-image: url(../../img/svg/time.svg);
}

.branch__info__item__value {
    font-size: 1.8rem;
    font-family: 'FuturaPT';
}

.branch__info__item__tel {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: 'Montserrat';

}

.branch__info__item__tel span {
    color: var(--blue);
}

.branch__info__item__email {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Montserrat';
}

.branch__info__item__text {
    font-size: 1.8rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

.branch__title_none {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.contacts__map {
    height: 46rem;
    border-radius: .8rem;
    overflow: hidden;
}

.requisites__title {
    margin-bottom: 4rem;
}

.requisites__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}

.requisites__general {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.requisites__bank {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.requisites__bank__title {
    font-size: 1.8rem;
    font-family: 'FuturaPT';
    font-weight: 400;
    line-height: 1.6;

}

.requisites__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.requisites__item {
    display: flex;
    justify-content: space-between;

    font-size: 1.8rem;
    line-height: 1.6;

}

.requisites__item__title {
    font-family: 'FuturaPT Book';
    font-weight: 400;
    font-size: 1.8rem;
}

.requisites__item__value {
    font-family: 'FuturaPT';
    font-weight: 400;
}