.rent {
    padding-bottom: 5rem;
}

.rent__inner {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.rent__title {
    margin-bottom: 2rem;
}

.rent__description {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.rent__btn {
    min-width: 26rem;
}

.rent__img {
    width: 64rem;
    height: 35rem;
    flex-shrink: 0;
    position: relative;
    margin-top: -8rem;
    overflow: hidden;
}

.rent__img::after {
    content: '';
    width: 64rem;
    height: 26rem;
    background-color: #fff;
    display: block;
    border-radius: .8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.rent__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 960px) {


    .rent__inner {
        flex-direction: column;
        gap: 3rem;
    }

    .rent__img {
        width: 100%;
        height: auto;
    }

    .rent__img::after {
        width: 100%;
        height: 26rem;
    }

}

@media (max-width: 500px) {
    .rent__title {
        margin-bottom: 1rem;
    }

    .rent__description {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .rent__btn {
        width: 100%;
    }

    .rent__img {
        margin-top: 0;
    }
}

/* Cost  */

.cost__title {
    margin-bottom: 4rem;
}

.cost__inner {
    border-radius: .8rem;
    overflow: hidden;
}

.cost__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem;
    background-color: #fff;
}

.cost__item:nth-child(even) {
    background-color: #f3f3f3;
}

.cost__header {
    background-color: #ebebeb;
    font-family: 'FuturaPT Demi';
}

.cost__name {
    width: 56rem;
    font-size: 1.6rem;
    flex-shrink: 0;
}

.cost__rent__column {
    width: 16rem;
    font-size: 1.6rem;
    flex-shrink: 0;
}

@media (max-width: 960px) {

    .cost__title {
        margin-bottom: 3rem;
    }


    .cost__item {
        flex-direction: column;
        align-items: start;
        gap: 0;
        padding: 0;
    }

    .cost__name {
        width: 100%;
        font-size: 1.4rem;
        padding: 2rem 3rem;
    }

    .cost__rent__column {
        width: 16rem;
        font-size: 1.4rem;
        flex-direction: column;
        display: flex;
        align-items: start;
        gap: 1rem;
    }

    .cost__accordion-content {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s;
        padding: 0 0;
        display: flex;
        align-items: start;
        gap: 1rem;
    }

    .cost__item.active .cost__accordion-content {
        max-height: 500px;
        opacity: 1;
        padding: 2rem 3rem;

    }

    .cost__name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-weight: 500;
        user-select: none;
    }

    .cost__arrow {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        background: url('../../img/sprite.svg#arrow-down') center/contain no-repeat;
        transition: transform 0.2s;
    }

    .cost__item.active .cost__arrow {
        transform: rotate(180deg);
    }
}

@media (max-width: 500px) {
    .cost__name {
        padding: 1.8rem 2rem;
    }

    .cost__item.active .cost__accordion-content {
        flex-direction: column;
        padding: 0 2rem 2rem 2rem;
        gap: 1rem;
    }

    .cost__rent__column {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 1.4rem;
        gap: 1.7rem;
    }
}

/* Tarif  */
.tarif__title {
    margin-bottom: 4.1rem;
}

.tarif__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.tarif__item {
    background-color: var(--grey);
    /* border: 2px solid var(--default); */
    padding: 3rem;
    border-radius: .8rem;
    position: relative;
}

.tarif__item_optimal {
    background-color: var(--white);
    color: var(--default);
}

.tarif__item_optimal::before {
    content: '';
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: linear-gradient(180deg, #019ADE 0%, #01DE77 100%);
    position: absolute;
    inset: 0;
    margin: -3px -3px;
    z-index: -1;
    border-radius: .8rem;
}

.tarif__item__tag {
    position: absolute;
    top: -2rem;
    right: -2rem;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: .8rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tarif__item__tag img {
    width: 1.8rem;
    height: 1.8rem;
}

.tarif__item_econom .tarif__item__tag {
    background-color: #D9F0FA;
    color: var(--blue);
}

.tarif__item__subtitle {
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: .5rem;
}

.tarif__item__title {
    font-family: 'Montserrat';
    margin-bottom: 2rem;
    font-size: 5.2rem;
    font-weight: 600;
    color: var(--default);
    text-transform: uppercase;
}

.tarif__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-bottom: 3rem;
}

.tarif__list__item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.6rem;

}

.tarif__list__item::before {
    content: '';
    width: 3rem;
    height: 3rem;
    display: block;
    background-image: url('../../img/base/tarif-check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.tarif__item_no::before {
    background-image: url('../../img/base/tarif-nocheck.svg');
}

.tarif__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

.tarif__btn {
    width: 100%;
}

.white-btn {
    background-color: transparent;
    color: var(--default);

}


.white-btn:hover {
    background-color: var(--blue);
    color: var(--white);
}

.tarif__consult {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
    justify-content: center;
}

@media (max-width: 960px) {

    .tarif__inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .tarif__item__tag {
        top: -2rem;
        right: 4rem;
    }


    .tarif__btns {
        padding-right: 3rem;
    }
}

@media (max-width: 500px) {
    .tarif__title {
        margin-bottom: 3.2rem;
    }

    .tarif__item {
        padding: 5rem 3rem 2rem 3rem;
    }

    .tarif__item__title {
        font-size: 4.2rem;
        margin-bottom: 1rem;
    }

    .tarif__btns {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .tarif__consult {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    .tarif__item:nth-child(2) .tarif__item__title {
        font-size: 2.5rem;
    }
    .tarif__list__item  {
        text-wrap: balance;
    }
    .tarif__item__tag {
        right: 1.6rem;
        top: -1.2rem;
    }
}

/* Set  */
.set__title {
    margin-bottom: 3rem;
}

.set__description {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'FuturaPT';
    line-height: 1.4;
}

.set__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.set__item {
    padding: 1rem 1.5rem;
    border-radius: .8rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    width: fit-content;
}

.set__item img {
    width: 2.4rem;
    height: 2.4rem;
}

.advantages__title {
    margin-bottom: 3rem;
}

@media (max-width: 960px) {
    .set__title {
        margin-bottom: 2rem;
    }


    .set__list {
        gap: 1rem;
    }

    .set__item {
        font-size: 1.6rem;
    }

}

@media (max-width: 500px) {
    .set__title {
        margin-bottom: 1rem;
    }
    .set__description {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    .set__list {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }
    .set__item {
        width: 100%;
    }


}