<div class="feedback__card">
    <div class="feedback__card__header">
        <div class="feedback__card__header__inner">
            <div class="feedback__card__header__img">
                <img src="assets/img/temp/feedback.png" alt="">
            </div>
            <div class="feedback__card__header__content">
                <span class="feedback__card__header_name">ФИО/компания</span>
                <span class="feedback__card__header_service">Аренда опалубки</span>
            </div>
        </div>
        <div class="feedback__card__header__rating">
            <div class="feedback__card__header__rating__stars">
                <svg>
                    <use xlink:href="assets/img/sprite.svg#star"></use>
                </svg>
                <svg>
                    <use xlink:href="assets/img/sprite.svg#star"></use>
                </svg>
                <svg>
                    <use xlink:href="assets/img/sprite.svg#star"></use>
                </svg>
                <svg>
                    <use xlink:href="assets/img/sprite.svg#star"></use>
                </svg>
                <svg class="inactive">
                    <use xlink:href="assets/img/sprite.svg#star"></use>
                </svg>
            </div>
            <span class="feedback__card__header__rating__text">
                4.5
            </span>
        </div>
    </div>

    <div class="feedback__card__content">
        <p>
            Вся продукция проходит проверку перед каждой поставкой. Никаких деформированных
            щитов и повреждённых элементов.
            Все полностью готово к эксплуатации.
        </p>
    </div>
</div>