<header class="header">
    <div class="header__top">
        <div class="header__top__inner container">
            <div class="header__logo">
                <img src="assets/img/base/logo.svg" alt="Авант Опалубка">
            </div>
            <div class="header__descriptor">
                Производство, аренда и продажа опалубки с доставкой по России
            </div>
            <div class="header__search">
                <button type="button" class="header__search-btn btn-reset" aria-label="Открыть поиск"
                    onclick="this.nextElementSibling.classList.add('active'); this.style.display='none';">
                    <span class="header__search-icon">

                        <svg>
                            <use xlink:href="assets/img/sprite.svg#search"></use>
                        </svg>
                    </span>
                </button>
                <div class="header__search-form">
                    <form onsubmit="return true;">
                        <span class="header__search-icon">
                            <svg>
                                <use xlink:href="assets/img/sprite.svg#search"></use>
                            </svg>
                        </span>
                        <input type="text" class="header__search-input input-reset" placeholder="Введите что нибудь...">
                        <button type="submit" class="header__search-submit btn-reset main-btn" aria-label="Найти">
                            Найти
                        </button>
                    </form>
                </div>
            </div>

            <div class="header__socials">
                <div class="header__socials__text">
                    Есть вопрос?<br>
                    <span>Задайте онлайн:</span>
                </div>
                <div class="header__socials__icons">
                    <button class="header__socials__icon btn-reset header__socials__icon_phone" data-modal="callback">
                        <img src="assets/img/svg/phone.svg" alt="Телефон">
                    </button>
                    <a target="_blank" href="#" class="header__socials__icon">
                        <img src="assets/img/base/telegram.svg" alt="Telegram">
                    </a>
                    <a target="_blank" href="#" class="header__socials__icon">
                        <img src="assets/img/base/whatsapp.svg" alt="WhatsApp">
                    </a>

                </div>
            </div>

            <button class="header__callback btn-reset" data-modal="callback">
                <svg>
                    <use xlink:href="assets/img/sprite.svg#phone"></use>
                </svg>
                <span>Заказать звонок</span>
            </button>

            <div class="header__phone">
                <a href="tel:+79850388787" class="header__phone__link">
                    <span>+7 (985)</span> 038-87-87
                </a>
                <span class="header__phone__descriptor">Ежежневно: 09:00 - 19:00</span>
            </div>

            <button class="burger__btn btn-reset" id="burger">
                <svg>
                    <use xlink:href="assets/img/sprite.svg#burger"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__bottom__inner container">
            <nav class="header__menu">
                <ul class="header__menu__list list-reset">
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Главная
                        </a>
                    </li>
                    <style>

                    </style>
                    <li class="header__menu__item header__menu__item--dropdown">
                        <a href="#" class="header__menu__link" id="services-menu-link">
                            Услуги
                            <svg>
                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                        <div class="services-dropdown">
                            <div class="services-dropdown__categories">
                                <ul>
                                    <li class="services-dropdown__category services-dropdown__category--active"
                                        data-category="opalubka">
                                        Опалубка
                                    </li>
                                    <li class="services-dropdown__category" data-category="fanera">
                                        Фанера для опалубки
                                    </li>
                                    <li class="services-dropdown__category" data-category="komplektuyushchie">
                                        Комплектующие для опалубки
                                    </li>
                                </ul>
                            </div>
                            <div class="services-dropdown__subcategories">
                                <!-- Опалубка -->
                                <div class="services-dropdown__subcategories-group active" data-category="opalubka">
                                    <div class="services-dropdown__columns">
                                        <div class="services-dropdown__column">
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Опалубка стен
                                                </a>
                                                <a href="#" class="services-dropdown__link">Круглая Опалубка стен</a>
                                                <a href="#" class="services-dropdown__link">Металлическая Опалубка
                                                    стен</a>
                                                <a href="#" class="services-dropdown__link">Стальная Опалубка стен</a>
                                                <a href="#" class="services-dropdown__link">Крупнощитовая Опалубка
                                                    стен</a>
                                                <a href="#" class="services-dropdown__link">Мелкощитовая Опалубка
                                                    стен</a>
                                                <a href="#" class="services-dropdown__link">Алюминиевая Опалубка
                                                    стен</a>
                                                <a href="#" class="services-dropdown__link">Балочно ригельная опалубка
                                                    стен</a>
                                                <a href="#" class="services-dropdown__link">Радиусная Опалубка стен</a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Щитовая опалубка
                                                </a>
                                                <a href="#" class="services-dropdown__link">Мелкощитовая Опалубка</a>
                                                <a href="#" class="services-dropdown__link">Крупнощитовая Опалубка</a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Угловая опалубка
                                                </a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Опалубка для лифтовых шахт
                                                </a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Мелкощитовая опалубка ХСИ
                                                </a>
                                            </div>
                                        </div>
                                        <div class="services-dropdown__column">
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Опалубка колонн
                                                </a>
                                                <a href="#" class="services-dropdown__link">Круглая Опалубка колонн</a>
                                                <a href="#" class="services-dropdown__link">Металлическая Опалубка
                                                    колонн</a>
                                                <a href="#" class="services-dropdown__link">Стальная Опалубка колонн</a>
                                                <a href="#" class="services-dropdown__link">Крупнощитовая Опалубка
                                                    колонн</a>
                                                <a href="#" class="services-dropdown__link">Мелкощитовая Опалубка
                                                    колонн</a>
                                                <a href="#" class="services-dropdown__link">Алюминиевая Опалубка
                                                    колонн</a>
                                                <a href="#" class="services-dropdown__link">Балочно ригельная опалубка
                                                    колонн</a>
                                                <a href="#" class="services-dropdown__link">Радиусная Опалубка
                                                    колонн</a>
                                                <a href="#" class="services-dropdown__link">Щитовая опалубка колонн</a>
                                                <a href="#" class="services-dropdown__link">Опалубка угловых колонн</a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Балочно ригельная опалубка
                                                </a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Съемная опалубка
                                                </a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Опалубка для фундамента
                                                </a>
                                                <a href="#" class="services-dropdown__link">Мелкощитовая опалубка для
                                                    фундамента</a>
                                                <a href="#" class="services-dropdown__link">Опалубка для ленточного
                                                    фундамента</a>
                                                <a href="#" class="services-dropdown__link">Опалубка для плитного
                                                    фундамента</a>
                                                <a href="#" class="services-dropdown__link">Съемная опалубка для
                                                    фундамента</a>
                                            </div>

                                        </div>
                                        <div class="services-dropdown__column">
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Опалубка перекрытий
                                                </a>
                                                <a href="#" class="services-dropdown__link">Опалубка перекрытий на
                                                    телескопических стойках</a>
                                                <a href="#" class="services-dropdown__link">Рамная опалубка
                                                    перекрытий</a>
                                                <a href="#" class="services-dropdown__link">Объемная опалубка</a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Объемно переставная опалубка
                                                </a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Опалубка перекрытий
                                                    на объемных стойках ХСИ
                                                </a>
                                            </div>
                                            <div class="services-dropdown__column-group">
                                                <a href="#" class="services-dropdown__column-group-title">
                                                    Опалубка перекрытий
                                                    на объемных стойках CUP-LOCK
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Фанера для опалубки -->
                                <div class="services-dropdown__subcategories-group" data-category="fanera">
                                    <div class="services-dropdown__columns">
                                        <div class="services-dropdown__column">
                                            <a href="#" class="services-dropdown__link">Фанера ламинированная</a>
                                            <a href="#" class="services-dropdown__link">Фанера влагостойкая</a>
                                            <a href="#" class="services-dropdown__link">Фанера берёзовая</a>
                                        </div>
                                        <div class="services-dropdown__column">
                                            <a href="#" class="services-dropdown__link">Фанера хвойная</a>
                                            <a href="#" class="services-dropdown__link">Фанера для перекрытий</a>
                                            <a href="#" class="services-dropdown__link">Фанера для стен</a>
                                        </div>
                                        <div class="services-dropdown__column">
                                            <a href="#" class="services-dropdown__link">Фанера для фундаментов</a>
                                            <a href="#" class="services-dropdown__link">Резка фанеры</a>
                                            <a href="#" class="services-dropdown__link">Доставка фанеры</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Комплектующие для опалубки -->
                                <div class="services-dropdown__subcategories-group" data-category="komplektuyushchie">
                                    <div class="services-dropdown__columns">
                                        <div class="services-dropdown__column">
                                            <a href="#" class="services-dropdown__link">Замки для опалубки</a>
                                            <a href="#" class="services-dropdown__link">Стяжные винты</a>
                                            <a href="#" class="services-dropdown__link">Опорные башмаки</a>
                                        </div>
                                        <div class="services-dropdown__column">
                                            <a href="#" class="services-dropdown__link">Щиты опалубки</a>
                                            <a href="#" class="services-dropdown__link">Угловые элементы</a>
                                            <a href="#" class="services-dropdown__link">Телескопические стойки</a>
                                        </div>
                                        <div class="services-dropdown__column">
                                            <a href="#" class="services-dropdown__link">Пластиковые конусы</a>
                                            <a href="#" class="services-dropdown__link">Комплектующие для колонн</a>
                                            <a href="#" class="services-dropdown__link">Комплектующие для перекрытий</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Каталог
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            О компании
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Доставка
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Отзывы
                        </a>
                    </li>

                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Контакты
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <div class="header__menu__mobile">
        <div class="header__menu__mobile__inner">
            <!-- INSERT_YOUR_CODE -->
            <div class="header__menu__mobile__top">
                <div class="header__logo">
                        <img src="assets/img/base/logo.svg" alt="Логотип">
                 
                </div>
                <button class="header__menu__mobile__close btn-reset" aria-label="Закрыть меню">
                    <svg>
                        <use xlink:href="assets/img/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="header__descriptor">
                Производство, аренда и продажа опалубки с доставкой по России
            </div>
            <div class="header__search">
                <div class="header__search-form active">
                    <form onsubmit="return true;">
                        <span class="header__search-icon">
                            <svg>
                                <use xlink:href="assets/img/sprite.svg#search"></use>
                            </svg>
                        </span>
                        <input type="text" class="header__search-input input-reset" placeholder="Введите что нибудь...">
                        <button type="submit" class="header__search-submit btn-reset main-btn" aria-label="Найти">
                            Найти
                        </button>
                    </form>
                </div>
            </div>
            <nav class="header__menu header__menu--mobile">
                <ul class="header__menu__list list-reset">
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Главная
                        </a>
                    </li>
                    <li class="header__menu__item header__menu__item--dropdown">
                        <a href="#" class="header__menu__link" id="services-menu-link-mobile">
                            Услуги
                            <svg>
                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                        <div class="services-dropdown services-dropdown--mobile">
                            <div class="services-dropdown__categories">
                                <ul>
                                    <li class="services-dropdown__category-item">
                                        <button class="services-dropdown__category-btn" data-category="opalubka">
                                            Опалубка
                                            <svg>
                                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                                            </svg>
                                        </button>
                                        <div class="services-dropdown__subcategories-group" data-category="opalubka">
                                            <div class="services-dropdown__columns">
                                                <div class="services-dropdown__column">
                                                    <div class="services-dropdown__column-group">
                                                        <button class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Опалубка стен
                                                            </span>
                                                            <svg>
                                                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="services-dropdown__column-group-links">
                                                            <a href="#" class="services-dropdown__link">Круглая Опалубка стен</a>
                                                            <a href="#" class="services-dropdown__link">Металлическая Опалубка
                                                                стен</a>
                                                            <a href="#" class="services-dropdown__link">Стальная Опалубка стен</a>
                                                            <a href="#" class="services-dropdown__link">Крупнощитовая Опалубка
                                                                стен</a>
                                                            <a href="#" class="services-dropdown__link">Мелкощитовая Опалубка
                                                                стен</a>
                                                            <a href="#" class="services-dropdown__link">Алюминиевая Опалубка
                                                                стен</a>
                                                            <a href="#" class="services-dropdown__link">Балочно ригельная опалубка
                                                                стен</a>
                                                            <a href="#" class="services-dropdown__link">Радиусная Опалубка стен</a>
                                                        </div>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <button class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Щитовая опалубка
                                                            </span>
                                                            <svg>
                                                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="services-dropdown__column-group-links">
                                                            <a href="#" class="services-dropdown__link">Мелкощитовая Опалубка</a>
                                                            <a href="#" class="services-dropdown__link">Крупнощитовая Опалубка</a>
                                                        </div>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <a href="#" class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Угловая опалубка
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <a href="#" class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Опалубка для лифтовых шахт
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <a href="#" class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Мелкощитовая опалубка ХСИ
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="services-dropdown__column">
                                                    <div class="services-dropdown__column-group">
                                                        <button class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Опалубка колонн
                                                            </span>
                                                            <svg>
                                                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="services-dropdown__column-group-links">
                                                            <a href="#" class="services-dropdown__link">Круглая Опалубка колонн</a>
                                                            <a href="#" class="services-dropdown__link">Металлическая Опалубка
                                                                колонн</a>
                                                            <a href="#" class="services-dropdown__link">Стальная Опалубка колонн</a>
                                                            <a href="#" class="services-dropdown__link">Крупнощитовая Опалубка
                                                                колонн</a>
                                                            <a href="#" class="services-dropdown__link">Мелкощитовая Опалубка
                                                                колонн</a>
                                                            <a href="#" class="services-dropdown__link">Алюминиевая Опалубка
                                                                колонн</a>
                                                            <a href="#" class="services-dropdown__link">Балочно ригельная опалубка
                                                                колонн</a>
                                                            <a href="#" class="services-dropdown__link">Радиусная Опалубка
                                                                колонн</a>
                                                            <a href="#" class="services-dropdown__link">Щитовая опалубка колонн</a>
                                                            <a href="#" class="services-dropdown__link">Опалубка угловых колонн</a>
                                                        </div>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <a href="#" class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Балочно ригельная опалубка
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <a href="#" class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Съемная опалубка
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <button class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Опалубка для фундамента
                                                            </span>
                                                            <svg>
                                                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="services-dropdown__column-group-links">
                                                            <a href="#" class="services-dropdown__link">Мелкощитовая опалубка для
                                                                фундамента</a>
                                                            <a href="#" class="services-dropdown__link">Опалубка для ленточного
                                                                фундамента</a>
                                                            <a href="#" class="services-dropdown__link">Опалубка для плитного
                                                                фундамента</a>
                                                            <a href="#" class="services-dropdown__link">Съемная опалубка для
                                                                фундамента</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="services-dropdown__column">
                                                    <div class="services-dropdown__column-group">
                                                        <button class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Опалубка перекрытий
                                                            </span>
                                                            <svg>
                                                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="services-dropdown__column-group-links">
                                                            <a href="#" class="services-dropdown__link">Опалубка перекрытий на
                                                                телескопических стойках</a>
                                                            <a href="#" class="services-dropdown__link">Рамная опалубка
                                                                перекрытий</a>
                                                            <a href="#" class="services-dropdown__link">Объемная опалубка</a>
                                                        </div>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <a href="#" class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Объемно переставная опалубка
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <a href="#" class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Опалубка перекрытий
                                                                на объемных стойках ХСИ
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="services-dropdown__column-group">
                                                        <a href="#" class="services-dropdown__column-group-btn">
                                                            <span class="services-dropdown__column-group-title">
                                                                Опалубка перекрытий
                                                                на объемных стойках CUP-LOCK
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="services-dropdown__category-item">
                                        <button class="services-dropdown__category-btn" data-category="fanera">
                                            Фанера для опалубки
                                            <svg>
                                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                                            </svg>
                                        </button>
                                        <div class="services-dropdown__subcategories-group" data-category="fanera">
                                            <div class="services-dropdown__columns">
                                                <div class="services-dropdown__column">
                                                    <a href="#" class="services-dropdown__link">Фанера ламинированная</a>
                                                    <a href="#" class="services-dropdown__link">Фанера влагостойкая</a>
                                                    <a href="#" class="services-dropdown__link">Фанера берёзовая</a>
                                                </div>
                                                <div class="services-dropdown__column">
                                                    <a href="#" class="services-dropdown__link">Фанера хвойная</a>
                                                    <a href="#" class="services-dropdown__link">Фанера для перекрытий</a>
                                                    <a href="#" class="services-dropdown__link">Фанера для стен</a>
                                                </div>
                                                <div class="services-dropdown__column">
                                                    <a href="#" class="services-dropdown__link">Фанера для фундаментов</a>
                                                    <a href="#" class="services-dropdown__link">Резка фанеры</a>
                                                    <a href="#" class="services-dropdown__link">Доставка фанеры</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="services-dropdown__category-item">
                                        <button class="services-dropdown__category-btn" data-category="komplektuyushchie">
                                            Комплектующие для опалубки
                                            <svg>
                                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                                            </svg>
                                        </button>
                                        <div class="services-dropdown__subcategories-group" data-category="komplektuyushchie">
                                            <div class="services-dropdown__columns">
                                                <div class="services-dropdown__column">
                                                    <a href="#" class="services-dropdown__link">Замки для опалубки</a>
                                                    <a href="#" class="services-dropdown__link">Стяжные винты</a>
                                                    <a href="#" class="services-dropdown__link">Опорные башмаки</a>
                                                </div>
                                                <div class="services-dropdown__column">
                                                    <a href="#" class="services-dropdown__link">Щиты опалубки</a>
                                                    <a href="#" class="services-dropdown__link">Угловые элементы</a>
                                                    <a href="#" class="services-dropdown__link">Телескопические стойки</a>
                                                </div>
                                                <div class="services-dropdown__column">
                                                    <a href="#" class="services-dropdown__link">Пластиковые конусы</a>
                                                    <a href="#" class="services-dropdown__link">Комплектующие для колонн</a>
                                                    <a href="#" class="services-dropdown__link">Комплектующие для перекрытий</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Каталог
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            О компании
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Доставка
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Отзывы
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__socials">
                <div class="header__socials__text">
                    Есть вопрос?<br>
                    <span>Задайте онлайн:</span>
                </div>
                <div class="header__socials__icons">
                    <button class="header__socials__icon btn-reset header__socials__icon_phone" data-modal="callback">
                        <img src="assets/img/svg/phone.svg" alt="Телефон">
                    </button>
                    <a target="_blank" href="#" class="header__socials__icon">
                        <img src="assets/img/base/telegram.svg" alt="Telegram">
                    </a>
                    <a target="_blank" href="#" class="header__socials__icon">
                        <img src="assets/img/base/whatsapp.svg" alt="WhatsApp">
                    </a>
                </div>
            </div>
            <div class="header__phone">
                <a href="tel:+79850388787" class="header__phone__link">
                    <span>+7 (985)</span> 038-87-87
                </a>
                <span class="header__phone__descriptor">Ежежневно: 09:00 - 19:00</span>
            </div>
            <button class="header__callback btn-reset" data-modal="callback">
                <svg>
                    <use xlink:href="assets/img/sprite.svg#phone"></use>
                </svg>
                <span>Заказать звонок</span>
            </button>
        </div>
    </div>


</header>