<header class="header">
    <div class="header__top">
        <div class="header__top__inner container">
            <div class="header__logo">
                <img src="assets/img/base/logo.svg" alt="Авант Опалубка">
            </div>
            <div class="header__descriptor">
                Производство, аренда и продажа опалубки с доставкой по России
            </div>
            <form action="#" class="header__search">
                <button type="button" class="header__search-btn btn-reset" aria-label="Открыть поиск"
                    onclick="this.nextElementSibling.classList.add('active'); this.style.display='none';">
                    <span class="header__search-icon">

                        <svg>
                            <use xlink:href="assets/img/sprite.svg#search"></use>
                        </svg>
                    </span>
                </button>
                <div class="header__search-form">
                    <form onsubmit="return true;">
                        <span class="header__search-icon">
                            <svg>
                                <use xlink:href="assets/img/sprite.svg#search"></use>
                            </svg>
                        </span>
                        <input type="text" class="header__search-input input-reset" placeholder="Введите что нибудь...">
                        <button type="submit" class="header__search-submit btn-reset main-btn" aria-label="Найти">
                            Найти
                        </button>
                    </form>
                </div>
            </form>

            <div class="header__socials">
                <div class="header__socials__text">
                    Есть вопрос?<br>
                    <span>Задайте онлайн:</span>
                </div>
                <div class="header__socials__icons">
                    <a target="_blank" href="#" class="header__socials__icon">
                        <img src="assets/img/base/telegram.svg" alt="Telegram">
                    </a>
                    <a target="_blank" href="#" class="header__socials__icon">
                        <img src="assets/img/base/whatsapp.svg" alt="WhatsApp">
                    </a>

                </div>
            </div>

            <button class="header__callback btn-reset" data-modal="callback">
                <svg>
                    <use xlink:href="assets/img/sprite.svg#phone"></use>
                </svg>
                <span>Заказать звонок</span>
            </button>

            <div class="header__phone">
                <a href="tel:+79850388787" class="header__phone__link">
                    <span>+7 (985)</span> 038-87-87
                </a>
                <span class="header__phone__descriptor">Ежежневно: 09:00 - 19:00</span>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__bottom__inner container">
            <nav class="header__menu">
                <ul class="header__menu__list list-reset">
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Главная
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Услуги
                            <svg>
                                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                        <div class="header__menu__dropdown">

                        </div>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Каталог
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            О компании
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Доставка
                        </a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Отзывы
                        </a>
                    </li>

                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">
                            Контакты
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>