<article class="product__card">
    <a href="#" class="product__card__link"></a>
    <div class="product__card__img">
        <img src="assets/img/temp/product-card.png" alt="">
    </div>
    <div class="product__card__content">
        <h3 class="product__card__title">
            Здесь будет название
        </h3>
        <div class="product__card__price">
            <span class="product__card__price__new">
                300 000 ₽
            </span>
        </div>
        <a href="#" class="main-btn product__card__btn btn-reset white-btn">
            Подробнее
        </a>
    </div>
</article>